*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#root {
	font-family: "Poppins", sans-serif;
}
.order-container {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.info-grid {
	display: grid;
	gap: 1rem;
	width: 1000px;
	padding: 10px;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 5px;
	box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	font-size: 15px;
}

.dateTime,
.payment_status {
	display: flex;
	justify-self: flex-end;
	align-items: center;
	flex-direction: column;
}

.order,
.dateTime,
.payment_status,
.costumer_name {
	padding: 10px;
}

.order {
	display: flex;

	flex-direction: column;
}
.dateInfo {
	display: flex;
	align-items: center;
	justify-content: center;
}
